
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: $font-size-base + 0.3;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: $font-size-base + 0.4;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-base + 0.4;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: $font-size-base + 0.4;
  }
}